* {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.website {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #b3c4e7;
}

.results-wrapper {
  display: none;
}

.cardDeck-wrapper {
  color: black;
}

.counter-wrapper {
  color: white;
}

.cardDeck_answer:hover {
  cursor: pointer;
}

.counter--green {
  background-color: #53cf92;
}

.counter--red {
  background-color: #ff796b;
}

.error {
  width: 300px;
  height: 200px;
  font-size: 1em;
  display: none;
}

.counter-wrapper {
  margin: 3px;
}

@media (min-width: 250px) and (max-width: 768px) {
  .logo-wrapper {
    margin-top: 5px;
  }

  .cardDeck-wrapper {
    height: 430px;
    width: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .logo-wrapper {
    margin-top: 20px;
  }

  .cardDeck-wrapper {
    height: 500px;
    width: 250px;
  }
}

@media (min-width: 1200px) {
  .logo-wrapper {
    margin-top: 30px;
  }

  .cardDeck-wrapper {
    margin-top: 50px;
    height: 500px;
    width: 300px;
  }
}