* {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.website {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #b3c4e7;
}

.result {
  display: none;
}

.sg-card__hole--gray-secondary-lightest:hover {
  cursor: pointer;
}

.cardDeck {
  color: black;
}

.counter-wrapper {
   color: white;
}

@media (min-width: 250px) and (max-width: 700px) {

.wrapper {
  margin-top: 10px;
}

.cardDeck {
  height: 450px;
  width: 250px;
}

}

@media (min-width: 700px) and (max-width: 1200px) {

.wrapper {
  margin-top: 20px;
}

.cardDeck {
  height: 500px;
  width: 250px;
}
}

@media (min-width: 1200px) {

.wrapper {
  margin-top: 30px;
}

.cardDeck {
  margin-top: 50px;
  height: 500px;
  width: 300px;
}

}