* {
  margin: 0;
  padding: 0;
}

.website {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sg-card__hole--gray-secondary-lightest:hover {
  cursor: pointer;
}

.myClass {
  box-shadow: 50px 100px blue;
}

.cardDeck {
  margin-top: auto;
  height: 500px;
  width: 300px;
  color: black;
}

.counter {
  height: 200px;
  width: 300px;
  background-color: #7a8adb;
}